// Estilos para el componente Charts

.container {
  padding: 20px;
  background-color: #fff;
  color: #000;

  &.dark-mode {
    background-color: #222;
    color: #fff;
  }

  h1 {
    color: inherit;
  }

  button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;

    &.dark-mode {
      background-color: #fff;
      color: #000;
    }
  }

  .table-container {
    max-height: 300px; /* Ajusta este valor según tus necesidades */
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-top: 20px;

    &.dark-mode {
      border-color: #fff;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      background-color: #fff;
      color: #000;

      &.dark-mode {
        background-color: #333; 
        color: #fff; 
        border-color: #fff; 
      }
    }

    th {
      background-color: #f2f2f2;
      color: #000;

      &.dark-mode {
        background-color: #444; 
        color: #fff; 
        border-color: #fff;
      }
    }

    tr:hover {
      background-color: #ddd;

      &.dark-mode {
        background-color: #333;
      }
    }
  }

  /* Estilos para el scroll en modo oscuro */
  .table-container.dark-mode {
    ::-webkit-scrollbar {
      width: 12px;
    }

    ::-webkit-scrollbar-track {
      background: #333;
    }

    ::-webkit-scrollbar-thumb {
      background: #555;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #777;
    }
  }
}