// Estilos para el componente Charts

.container {
  padding: 20px;
  background: radial-gradient(80% 120% at 55% 0%, black 55%, #0d2044);
  color: #fff;
  

  &.light-mode {
    background: #fff;
    color: #000;
  }

  h1 {
    color: inherit;
  }

  button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;

    &.light-mode {
      background-color: #000;
      color: #fff;
    }
  }

  select {
    margin: 20px auto;
    padding: 10px;
    border-color: #fff;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: block; 

    &.light-mode {
      background-color: #fff;
      border-color: #000;
      color: #000;
    }
  }

  .table-container {
    max-height: 300px; /* Ajusta este valor según tus necesidades */
    overflow-y: auto;
    border: 1px solid #fff;
    margin-top: 20px;

    &.light-mode {
      border-color: #ddd;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #fff;
      padding: 8px;
      text-align: left;
      background-color: radial-gradient(80% 120% at 55% 0%, black 55%, #0d2044);
      color: #fff;

      &.light-mode {
        background-color: #fff;
        color: #000;
        border-color: #ddd;
      }
    }

    th {
      background-color: radial-gradient(80% 120% at 55% 0%, black 55%, #0d2044);
      color: #fff;
      border-color: #fff;

      &.light-mode {
        background-color: #f2f2f2;
        color: #000;
      }
    }

    tr:hover {
      background-color: #333;

      &.light-mode {
        background-color: #ddd;
      }
    }
  }

  /* Estilos para el scroll en modo oscuro */
  .table-container.light-mode {
    ::-webkit-scrollbar {
      width: 12px;
    }

    ::-webkit-scrollbar-track {
      background: #333;
    }

    ::-webkit-scrollbar-thumb {
      background: #555;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #777;
    }
  }
}
