.prediction-container{
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;

}

form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.form-item {
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.predict-btn {
  margin-top: 15%;
}

.form-item label{

}

