.layer-list-overlay {
  position: absolute;
  padding: 0 1em;
  border-radius: 15px;
  left: 16px;
  top: 110px;
  z-index: 30;
  background-color: rgba(241, 232, 232, 0.18);
  overflow-y: auto;
  overflow-x: hidden;

  .color-class {
    width: 10px;
    height: 10px;
    padding: 0.5em 1em;
    margin: 10px;

    &::after {
      content: ' ';
      width: 10px;
      height: 10px;
    }
  }

  .layer-list-item {
    border-radius: 15px;

    margin: 0.5em 0;
    padding: 1em;

    p {
      margin: 0;
      text-align: right;
      display: inline-block;
    }

    &:hover {
      background-color: rgba(241, 232, 232, 0.8);
    }
  }
}
